<!DOCTYPE html>
<html lang="en" >
<head>
<title>Untitled Application</title>
<meta charset="utf-8">
<meta name="Description" content=""> 
<meta name="google" value="notranslate"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<meta name="theme-color" content="#000000"/>
<meta name="mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon" href="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\img\default-icon.png" />
<link rel="stylesheet" href="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\css\bootstrap.min.css">
<link rel="stylesheet" href="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\css\nzAnimate.min.css">
<link rel="stylesheet" href="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\css\neoapp-ui.min.css">
<link rel="stylesheet" href="style.css?v=10">
<link rel="shortcut icon" href="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\img\default-icon.png" />
</head>
<body class="neobody" id="ng-app" ng-app="NeoApp" ng-cloak>
<div ng-controller="NeoApp_CoreCtrl" ng-view ng-cloak id="ng-view" class="app-viewport[NAB._pageEffect]"></div>
<script type="text/ng-template" id="NewPage">
<div class="neopage" id="NewPage">
<img id="Image1" alt="" ng-src="file://C:/Users/User/Desktop/ADHD H RealThing/Villagers sml.jpg" class="[NAB.Image1_effect]" ng-style="NAB.Image1_style" ng-hide="NAB.Image1_hidden" ng-disabled="NAB.Image1_disabled">
<h1 id="Headline1" class="[NAB.Headline1_effect]" ng-style="NAB.Headline1_style" ng-hide="NAB.Headline1_hidden" ng-disabled="NAB.Headline1_disabled">ADHD REAL THING V1.<sup>00</sup></h1>
<button id="PushButton1" type="button"  class="btn btn-default [NAB.PushButton1_effect]" ng-style="NAB.PushButton1_style" ng-hide="NAB.PushButton1_hidden" ng-disabled="NAB.PushButton1_disabled" ng-click="PushButton1_click()">R</button>
<h1 id="Headline2" class="[NAB.Headline2_effect]" ng-style="NAB.Headline2_style" ng-hide="NAB.Headline2_hidden" ng-disabled="NAB.Headline2_disabled">Until Final Publisg This is now<br> a contained Project</h1>
<textarea id="TextArea1" class="form-control [NAB.TextArea1_effect]" ng-style="NAB.TextArea1_style" ng-hide="NAB.TextArea1_hidden" ng-disabled="NAB.TextArea1_disabled" ng-model="$root.status" ng-change="TextArea1_change()"></textarea>
<textarea id="TextArea2" class="form-control [NAB.TextArea2_effect]" ng-style="NAB.TextArea2_style" ng-hide="NAB.TextArea2_hidden" ng-disabled="NAB.TextArea2_disabled" ng-model="$root.list" ng-change="TextArea2_change()"></textarea>
</div>
</script>
<script type="text/ng-template" id="NewDialog">
<div id="DialogContainer1" class="modal-dialog modal-sm"><div class="modal-content" style="height:100%">
</div></div>
</script>
<script src="file://C:\ProgramData\SinLios\VisualNeoWeb\js\neoapp-debugger.min.js"></script>
<script src="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\js\jquery.min.js"></script>
<script src="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\js\neogular.js"></script>
<script src="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\js\bootstrap.min.js"></script>
<script src="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\js\neoapp.min.js"></script>
<script src="file://C:\Users\User\Documents\VisualNeoWeb\Libraries\js\neoapp-ui.min.js"></script>
<!--<script src="file://C:\ProgramData\SinLios\VisualNeoWeb\js\workbox-sw.js"></script>-->
<script src="main.js?v=10"></script>
<noscript>Sorry, JavaScript is required!</noscript>
</body>
</html>
